@charset "utf-8";

/* -------------------------- keyframes -------------------------- */
@keyframes ani{
  0%{bottom: 65px;}
  100%{bottom: 50px;}
}


/* -------------------------- 공통 -------------------------- */
html,body{height: 100%; background-color: #0d294f;}
section{
  overflow: hidden;
  width: 100%; height: 100%;
}

.container{
  position: relative; 
  width: 1440px; height: 100%;
  margin: 0 auto;
}
.ir{
  display: inline-block;
  text-indent: -9999px;
  background-repeat: no-repeat;
}


/* -------------------------- header -------------------------- */
header{
  position: fixed; left: 50%; top: 4%; z-index: 1000;
  transform: translateX(-50%);
  width: 1440px;
  opacity: 0;
}
  #gnb{
    display: flex;
    justify-content: space-around;
  }
  #gnb>li{
    height: 40px;
    margin-top: 4px;
    background-image: url(../images/moana/font.png);
    cursor: pointer;
  }

  #gnb>.menu1{width: 150px;}
  #gnb>.menu2{width: 162px; background-position: -158px 0;}
  #gnb>.menu3{width: 244px; background-position: -328px 0;}
  #gnb>.menu4{width: 209px; background-position: -584px 0;}
  #gnb>.menu5{width: 271px; background-position: -801px 0;}

  #gnb>li:hover,#gnb>li.on{margin-top: 0;}
  #gnb>.menu1:hover,
  #gnb>.menu1.on{background-position: 0 -41px;}

  #gnb>.menu2:hover,
  #gnb>.menu2.on{background-position: -158px -41px;}

  #gnb>.menu3:hover,
  #gnb>.menu3.on{background-position: -328px -41px;}

  #gnb>.menu4:hover,
  #gnb>.menu4.on{background-position: -584px -41px;}

  #gnb>.menu5:hover,
  #gnb>.menu5.on{background-position: -801px -41px;}


/* -------------------------- #intro -------------------------- */
#intro{
  position: relative;
  background-image: url(../images/moana/intro_bg2.jpg);
  background-repeat: no-repeat;
}
#intro>h1{
  width: 300px; height: 138px;
  margin: 80px 0 0 80px;
  background-image: url(../images/moana/logo.png);
}
#intro>button{
  position: absolute; left: 50%; bottom: 65px;
  transform: translateX(-50%);
  width: 46px; height: 65px;
  background-image: url(../images/moana/icon.png);
  animation: ani 0.4s alternate infinite;
}
#intro>span{position: absolute;}
#intro>.water1{
  right: 0; bottom: -150px;
  width: 1474px; height: 1080px;
  background-image: url(../images/moana/water1-1.png);
}
#intro>.water2{
  right: 50px; bottom: 0;
  width: 1534px; height: 1067px;
  background-image: url(../images/moana/water2-1.png);
}


/* -------------------------- #about -------------------------- */
#about{}
#about>div>div{
  position: absolute; top: 50%; 
  transform: translateY(-50%);
}
.preview{
  left: 0; 
  width: 847px; height: 477px;
}
.preview>iframe{width: 100%; height: 100%;}

.info{
  right: 0;
  width: 543px;
  color: #fff;
}
.info>h3{font-size: 30px;}
.info>p{line-height: 2;}
.info>p>strong{display: block; font-size: 18px;}
.info>p>strong:first-child{margin-bottom: 20px;}
.info>p>strong:nth-child(2){margin-top: 20px; margin-bottom: 10px;}
.info>p>strong:last-child{margin-top: 40px;}


/* -------------------------- #character -------------------------- */
#character{background-color: #9fc1dd;}


/* -------------------------- #still-cut -------------------------- */
#still-cut{position: relative;}
  #photo_b{
    position: absolute; left: 0; top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
#photo{
  overflow: hidden;
  position: absolute; left: 260px; bottom: 2%;
  width: 920px; height: 120px;
}
#photo_s{
  overflow: hidden;
  position: absolute; left: 60px; top: 0;
  width: 800px;
}
#photo_s>ul{
  position: relative;
  width: 2240px;
}
#photo_s>ul>li{
  overflow: hidden;
  float: left;
  transform: scale(0.9);
  width: 120px; height: 120px;
  margin: 0 20px;
  border-radius: 50%;
  cursor: pointer;
}
#photo_s>ul>li:hover,
#photo_s>ul>li.on{
  transform: scale(1);
  border: 3px solid #fff; 
  box-sizing: border-box;
}

#photo>button{
  position: absolute; top: 50%;
  transform: translateY(-50%);
  width: 36px; height: 33px;
  background-image: url(../images/moana/icon.png);
}
#photo>.left{left: 0; background-position: -34px -68px;}
#photo>.right{display: none; right: 0; background-position: -71px -68px;}


/* -------------------------- #production -------------------------- */
#production{}


/* -------------------------- footer -------------------------- */
footer{position: relative; top: -50px;}
footer>address{
  color: #ccc;
  text-align: center;
}

